*{
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 16px;
}

p {
    color: #000;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
}
h1 {
    font-family: arial;
    font-size: 25px;
    text-shadow:5px 7px 9px blue;
}
